.box1{

	margin-top: 20px;
	font-family: serif;

}

.box2{
	margin-top: 20px;
}

.box3{
	margin-top: 20px;
}

.box4{
	margin-top: 20px;
	font-family: serif;
	font-size: 18px;
}

.box5{
	margin-top: 20px;
	font-family: serif;
	font-size: 18px;
}
}

.box6{
	margin-top: 20px;
}

.box7{
	margin-top: 20px;
}

.box8{
	margin-top: 20px;
}

.box9{
	margin-top: 20px;
}