.box1{
	background-color: blue;
}

.box2{
	background-color: yellow;
}

.nested-col-1{
	background-color:violet;
}

.nested-col-2{
	background-color: red;
}

.nested-col-3{
	background-color: blue;
}

.nested-col-4{
	background-color: pink;
}